# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


ConsolApp1/.vs
ConsolApp2/.vs
ConsolApp1/bin
ConsolApp2/bin
ConsolApp1/obj
ConsolApp2/Propertis
ConsolApp1/Propertis
ConsolApp2/obj
ConsolApp1/App.config
ConsolApp1/ConsolApp1.csproj
ConsolApp1/ConsolApp1.sln
ConsolApp2/App.config
ConsolApp2/ConsolApp2.csproj
ConsolApp2/ConsolApp2.sln


